.navbar {
  height: 70px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  z-index: 1000;
  margin-bottom: 30px;
 

  @media  (max-width: 768px) {
        position: fixed;
        top: 0;
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
    }

  .logo {
    width: 70%;
    margin: 0px auto;
    font-size: 1.5rem;
    font-weight: 800;
    color: #3b82f6; 
    text-decoration: none;
  }

   @media  (max-width: 768px) {
      .logo{
        font-size: 22px;
        margin: 0px 25px;
        width: 100%;
      }
    }
}

  .navLinks {
    display: flex;
    gap: 2rem;
    
    a {
      text-decoration: none;
      color: #475569;
      font-weight: 500;
      transition: color 0.2s;

      &:hover {
        color: #3b82f6;
      }
    }
  }

 