.navbar {
  height: 70px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
//   padding: 0 10%;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  position: sticky;
  top: 0;
  z-index: 100;
  margin-bottom: 30px;

  .logo {
    width: 70%;
    margin: 0px auto;
    font-size: 1.5rem;
    font-weight: 800;
    color: #3b82f6; 
    text-decoration: none;
  }

  .navLinks {
    display: flex;
    gap: 2rem;
    
    a {
      text-decoration: none;
      color: #475569;
      font-weight: 500;
      transition: color 0.2s;

      &:hover {
        color: #3b82f6;
      }
    }
  }
}