@import './variables.scss';


.paginationContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px ;
    gap: 10px;

    .btn{
        padding: 10px 16px;
        font-size: 16px;
        cursor: pointer;
        font-weight: 500;
        background: #ffffff;
        color: $main-text;
        border: none;
        border-radius: 5px;


        &.active {
            background: $main-text; 
            color: #ffffff;
            border-color: #3b82f6;
        }

        &:disabled {
            background: #ffffff;
            color: #939495;
            cursor: not-allowed;
            border-color: #f1f5f9;
        }
    }
}