.container { 
    width: 70%; 
    margin: 0px auto;

    @media (max-width: 768px){
      width: 100%;
    }

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;

   @media (max-width: 768px) {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 25px;
  }

  @media (max-width: 480px) {
    grid-template-columns: 1fr; 
    gap: 1rem;
  }
}

.noResults { text-align: center; color: #64748b; padding: 2rem; }

}
 