@import './variables.scss';

.container {
  width: 70%;
  margin: 2rem auto;
  padding: 0 1rem;

  @media (max-width: 768px){
      width: 87%;
      padding: 0;
      margin: 100px 25px 0px 25px;

  }

  .backButton {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    margin-bottom: 1.5rem;
    color: $main-text;
    text-decoration: none;
    font-weight: 500;

    .icon{
      width: 18px;
    }
  }

  .card {
    background: white;
    padding: 2.5rem;
    border-radius: 12px;
    margin-bottom: 30px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);

    @media (max-width: 768px){
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      padding: 25px;
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      border-bottom: 1px solid #f1f5f9;
      padding-bottom: 1rem;
      margin-bottom: 1.5rem;
      
      h1 { margin: 0; color: #0f172a; }
      .rating {
        display: flex;
        align-items: center;
        gap: 7px;
        background: #fffbeb;
        color: $rating-color;
        padding: 2px 8px;
        border-radius: 6px;
      }
    }

    .tags {
      display: flex;
      gap: 1rem;
      margin-bottom: 2rem;
      .tag {
        display: flex;
        align-items: center;
        gap: 7px;
        background: #eff6ff;
        color: $main-text;
        padding: 0.4rem 0.8rem;
        border-radius: 6px;
        font-size: 0.9rem; 
        
        .icon{
          width: 17px;
        }
      }
    }

    .content, .contact {
      margin-bottom: 2rem;
      h2 { font-size: 1.1rem; color: #64748b; text-transform: uppercase; letter-spacing: 0.05em; }
      p { line-height: 1.7; color: #334155; }

      .iconcontainer{
        display: flex;
        align-items: center;
        gap: 10px;
        color: $main-text;
        cursor: pointer;
      }
    }
  }
}