@import './variables.scss';


.searchContainer {
  margin-bottom: 2rem;
  display: flex;
  justify-content: start;

  .searchInput {
    width: 100%;
    max-width: 500px;
    color: $text;
    padding: 0.8rem 1.2rem;
    border: 2px solid #e2e8f0;
    border-radius: 50px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.2s;

    &:focus {
      border-color: $bg-color;
    }
  }
}