$bg-color: var(--primary-bg);
$text: var(--text-main);
$font-large: var(--font-xl);
$mainbg: var(--mainbg-color);
$dimbg: var(--dimbg-color);
$subtitle: var(--text-subtitle);
$rating-color: var(--rating-color);
$main-text: var(--main-text);